extends layout

block append head
	script(src='/javascripts/vendor/socket.js')
	script(src='/javascripts/crawler/index.js')

block content
	p=content
	//- each book in bookList
	//- 	p.title= book.name
	//- 	p.author= book.author
	//- 	p.ISBN= book.ISBN