extends layout

block append head
	script(src='/javascripts/vendor/socket.js')
	script(src='/javascripts/crawler/index.js')

block content
	.container
		.row
			.col-md-12
				h1 首页随机5条数据
				each book in bookList
					.panel.panel-success
						.panel-heading= book.name
						ul.list-group
							li.list-group-item 书籍作者：#{book.author}
							li.list-group-item ISBN：#{book.ISBN}


