//
   Created by Biousco on 1/4.

include ../layout

block content
    .container
        .row
            .col-md-12
                h1 知乎日报
        .row
            .col-md-6.col-md-4
                .thumbnail
                    img(src='')
                    .caption
                        h3 Thumbnail
                        p ...
                        p
                            a(href='',role='button').btn.btn-primary Default
                            a(href='',role='button').btn.btn-default Button
